/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * refrigerator-deluxe:
 *   - http://typekit.com/eulas/00000000000000003b9b38d2
 *   - http://typekit.com/eulas/00000000000000003b9b38d4
 *   - http://typekit.com/eulas/00000000000000003b9b38d5
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-06-03 23:19:48 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=pmo1ymu&ht=tk&f=178.180.43385&a=10069685&app=typekit&e=css");

@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 300;
}
/* 
@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 700;
} */
/* 
@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 800;
} */

.tk-refrigerator-deluxe {
  font-family: "refrigerator-deluxe", sans-serif;
}
