@import url("https://p.typekit.net/p.css?s=1&k=vfj3ghr&ht=tk&f=177.178.179.180.43385&a=10069685&app=typekit&e=css");

@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/5cd118/00000000000000003b9b38d3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5cd118/00000000000000003b9b38d3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5cd118/00000000000000003b9b38d3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/e4e5c7/00000000000000003b9b38d2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2c8c49/00000000000000003b9b38d4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "RefrigeratorDeluxe-Extrabold";
  src: url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/fb86dd/00000000000000003b9b38d5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "refrigerator-deluxe";
  src: url("https://use.typekit.net/af/a5a95d/00000000000000003b9b38d6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a5a95d/00000000000000003b9b38d6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a5a95d/00000000000000003b9b38d6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 900;
}

.tk-refrigerator-deluxe {
  font-family: "refrigerator-deluxe", sans-serif;
}
